// .section-lorem {
//     padding: 15rem 0;
// }

.section-mission {
    padding: 15rem 0rem;
}

.section-about {
    padding: 15rem 0rem;
    background-color: rgba($color-yellow-light-1, 1);
}

.section-team {
    padding: 15rem 0rem;
}

.section-events {
    padding: 15rem 0rem;
    background-color: rgba($color-cyan-light-1, 1);
}

.section-news {
    padding: 15rem 0rem;
}